@import url(https://fonts.googleapis.com/css?family=Righteous);

.line_wrapper{
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo_wrapper{
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
	border-left:1px solid white;
	color:white;
	padding:10px;
	margin-left:15px;
	font-family:Righteous;
	font-size:20px;
	padding-top:6px;

}

.image {
	margin-left:125px;
}

.navBar {
	display:flex;
	background:black;
	width:auto;
	height:75px;
}

h2 {
	margin-top:0px;

}

.search {
	font-family:Righteous;
}

body {
	background-color:#f2f2f2;
	width:auto;
	margin:auto;
	margin-top:20px;
}

#background {
	background-color:#f8f8f8;

}


a {
	list-style-type:none;
	text-decoration:none;
	color:black;
}

.dropContent {
	display:none;
}


.question {
	text-align:center;
	font-family:Righteous;
	padding:100px;
}

.weather_question {
	display:none;
}

.song_list {
	display:none;
	text-align:center;
	size:30px;
}
